.auth {
  &__email {
    width: 200px;
    height: 50px;
  }
  &__password {
    width: 200px;
    height: 50px;
  }
  &__registration {
    &-start {
      &-hide {
        display: none;
      }
    }
  }
  &__login {
    &-hide {
      display: none;
    }
  }
}